.label {
    display: none;
}

.container {
    width: 100%;
}

body{

    background-color: #cccccc;
    /*background: url(font.jpg) no-repeat;*/
}
A:visited {
    color: white; /* Цвет посещенной ссылки */
}

.form-control {
    width: 150px;
    margin: 0 auto 10px auto;
    height: 48px;
    font-size: 23px;
    cursor: pointer;

}

.queries {
    margin: 10px 0 0 10px;
    color: black;
}

.tagButton {
    margin: 3px 0 0 0px;
}

.navbar {
    height: 50px;
    margin-bottom: 1px;
}
.navbar-brand {
    padding: 10px 15px;
    margin: 0px 0px 0px 10px;
    color:white;
}


/*header {
    width: 100%;
    height: 50px;
    background-color: #4CAF50;
}*/

.classLogin {
    padding: 4px ;
    text-align: center;
}

input[type=email], input[type=text], input[type=password],input[type=password] {
    width: 100%;
    font-size: 30px;
    padding: 8px;
    margin: 0 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    resize: none;
    width: 100%;
    font-size: 30px;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

A:link {
    color: white;
    font-size: 25px;
}

[for="id_email"],[for="id_name"],[for="id_password"],[for="id_retypePassword"],[for="username"],[for="password"] {
    display: none;
}

ul {
    color: red;
    font-size: 25px;
    text-align: center;
}

.blockTabs {
    margin: 0 32%;
}

/* Style the buttons inside the tab */
.tablinks {
    margin:5px auto 10px auto;
    background-color: darkslategrey;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color:#cccccc;
}

/* Change background color of buttons on hover */
.tablinks:hover {
    opacity: 0.8;
}

/* Create an active/current tablink class */
.tablinks.active {
    background-color: #e74c3d;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#d1 {
    color: white;
    font-size: 40px;

    padding: 30px;
    text-decoration: none;
}

#d1:hover {
    color: green;
    margin: auto;
    text-decoration: none;
    font-size: 40px;
}

.myButton {
    background-color: #4CAF50;
    font-size: 25px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.myButton:hover {
    opacity: 0.8;
}

.mainColumn {
    margin: 10px 0 0 10px;
}

.error-template {
    text-align: center;
    margin: 100px 0 0 0;
    font-size: 50px;
}

.error-actions {
    margin-top: 30px;
    margin-bottom: 15px;
}
.error-actions .btn {
    margin-right: 10px;
}



