.title{
    color: aquamarine;
}

#d1 {
		color: white;
		font-size: 40px;

		padding: 30px;
		text-decoration: none;
}

#d1:hover {
		color: green;
		margin: auto;
		text-decoration: none;
		font-size: 40px;
}

body{
	margin:0;
    background-color: #cccccc;
    /*background: url(font.jpg) no-repeat;*/
}

header {
	width: 100%;
	height: 50px;
	background-color: #4CAF50;
}

.classLogin {
            margin: 20px auto;
			padding: 4px;
            position: relative;
            width: 410px;
            border: 3px solid white;
            top: 0px;
            left: 0px;
}

input[type=email], input[type=text], input[type=password],input[type=password] {
            width: 100%;
            font-size: 30px;
            padding: 8px;
            margin: 0px 0px 2px 0px;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
}

#Button {
            background-color: #4CAF50;
			font-size: 25px;
            color: white;
            padding: 14px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
}

#Button:hover {
                opacity: 0.8;
}

A:link {
			color: white;
			font-size: 25px;
}

[for="id_email"],[for="id_name"],[for="id_password"],[for="id_retypePassword"]
    { display: none;}

ul {
    color: red;
    font-size: 25px;
    align-text: center;
}

