<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spellcheck</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!--CSS файл -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>

</head>
<header>
        {% include "Spellcheck/navbar.html" %}
</header>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="mainColumn">
                <form method="post">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value="1" selected>English</option>
                        <option value="2">Ukrainian</option>
                    </select>
                    <textarea class="areaForCheck" name="areaForCheck" placeholder="Please, input text for check" rows="10"
                              maxlength="500" required autofocus></textarea>
                    <button class="myButton" type="submit">Check it!</button>
                </form>
            </div>
        </div>

        <div class="col-sm-4">
            {% block authentication %} <!--main.html-->
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="queries">
                {% for text in texts %}
                    <button type="button" class="btn btn-success tagButton">{{ text.text|truncatechars:8 }} </button><!--Выводить только 10 символов-->
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>

<!--Скрипт, который показывает содержимое вкладок -->
<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

</body>
</html>