{% load static %}
<div class="myHistory">
    <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#collapseQueries" aria-expanded="false"
            aria-controls="collapseExample">Expand my history</button></div>

<div class="collapse" id="collapseQueries">
    <div class="card card-body">
        {% if count %}
            <div class="queries">
                {% for text in texts %}
                    <!--<button type="button" class="btn btn-success tagButton" data-toggle="tooltip"
                            data-placement="bottom" title="</button><!--Выводить только 10 символов-->
                    <!-- Button trigger modal -->
                    <button type="button" id="{{ text.id }}" class="btn btn-success tagButton" data-toggle="modal"
                            data-target="#Modal{{ text.id }}" data-placement="bottom" title="{{ text.textInputed }}">
                        {{ text.textInputed|truncatechars:8 }} </button><!--Выводить только 8 символов-->

                    <!-- Modal -->
                    <div class="modal fade" id="Modal{{ text.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <div class="myModalTitle modal-title" id="exampleModalLabel">Language: {{ text.language }}
                                        {% if text.language == "English" %}
                                            <img class="flag" src="{% static 'Pictures\usa.png' %}" width="35" height="35">
                                        {% else %}
                                            <img class="flag" src="{% static 'Pictures\ukraine.png' %}" width="35" height="35">
                                        {% endif %}
                                    </div>
                                    <button type="button" class="close myClose" aria-label="Close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>

                                    </button>

                                </div>
                                <div class="modal-body">


                                    {% if text.textChecked == 'True' %}
                                        <div class="modalCorrectText"> {{ text.textInputed }} </div>
                                        <div class="checkOutput"><img class="modalpngOutput" src="{% static 'Pictures\happyFace.png' %}" width="100" height="100"></div>
                                        <div class="modaltextOutput"> Correct!</div>
                                    {% else %}
                                        <div class="modalIncorrectText"> {{ text.textInputed }} </div>
                                        <div class="checkOutput"><img class="modalpngOutput" src="{% static 'Pictures\cryingFace.png' %}" width="100" height="100"></div>
                                        <div class="modaltextOutput">We detected a typo here!</div>

                                    {% endif %}

                                    {{ text_nameuser }}
                                </div>

                                {% if text.textChecked == 'False' %}
                                    <div class="suggestInModal">
                                        <div class="suggestTitleInModal">We assumed that you meant one of this <img class="" src="{% static 'Pictures\thinking.png' %}" width="35" height="35">
                                        </div><div class="suggestModalList">{{ text.textSuggestion }}</div>
                                    </div>
                                {% endif %}

                                <div class="suggestInModal">
                                <span>
                                    <div class="userDetail">
                                        <img class="" src="{% static 'Pictures\user.png' %}" width="28" height="28" data-toggle="icon" title="username"> {{ currentUserNow.username }}
                                        <p><img class="timeicon" src="{% static 'Pictures\time.png' %}" width="28" height="28" data-toggle="icon" title="Time when was created"> {{ text.dateTimeCreated }}
                                    </div>
                                    <div class="wrapButton">
                                        <button type="button" class="btn btn-primary myCloseButton" data-dismiss="modal">Close</button>
                                    </div>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="doSwap">
                <div class="empty-history">
                    Your history is empty
                </div>
            </div>
        {% endif %}
    </div>

</div>
