{% extends 'Spellcheck/base.html' %}

{% block authentication %}
<div class="classLogin">
                <div class="blockTabs">
                    <!--Кнопка вкладки Log In -->
                    <button class="tablinks" onclick="openTab(event, 'LogIn')" id="defaultOpen">Log in</button>
                    <!--Кнопка вкладки Sign Up -->
                    <button class="tablinks" onclick="openTab(event, 'SignUp')">Sign up</button>
                </div>


                <!--Вкладка Log In -->
                <div id="LogIn" class="tabcontent">
                    <form method="post">
                        <label for="username">Login</label>
                        <input type="text" name="username" placeholder="Login" required>
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="Password" required>
                        <button class="myButton" type="submit">Log In</button>
                        <a href="">Forgot Password?</a>
                    </form>
                </div>
                <!--Вкладка Sign Up -->
                <div id="SignUp" class="tabcontent">
                    <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button class="myButton" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>

            </div>
{% endblock %}